/*
 * Apple M0110/M0110A Keyboard Keymap for ZMK
 *
 * This keymap uses a matrix transform that maps 79 physical keys
 * to their positions in the M0110A scancode matrix (14x8).
 *
 * Physical layout (M0110A):
 * ,---------------------------------------------------------. ,---------------.
 * |  `|  1|  2|  3|  4|  5|  6|  7|  8|  9|  0|  -|  =|Bcksp| |Clr|  =|  /|  *|
 * |---------------------------------------------------------| |---------------|
 * |Tab  |  Q|  W|  E|  R|  T|  Y|  U|  I|  O|  P|  [|  ]|   | |  7|  8|  9|  -|
 * |-----------------------------------------------------'   | |---------------|
 * |CapsLo|  A|  S|  D|  F|  G|  H|  J|  K|  L|  ;|  '|Return| |  4|  5|  6|  +|
 * |---------------------------------------------------------| |---------------|
 * |Shft|ISO|  Z|  X|  C|  V|  B|  N|  M|  ,|  .|  /|Shft|Up | |  1|  2|  3|   |
 * |---------------------------------------------------------' |-----------|Ent|
 * | Opt|Cmd    |           Space           |  \|Lft|Rgt|Dn  | |      0|  .|   |
 * `---------------------------------------------------------' `---------------'
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define FN      1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* Row 0: Number row + Numpad top */
                &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS  &kp EQUAL  &kp BSPC     &kp KP_NUM &kp KP_COMMA &kp KP_SLASH &kp KP_MULTIPLY

                /* Row 1: QWERTY + Numpad row 2 */
                &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P      &kp LBKT   &kp RBKT                &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS

                /* Row 2: Home row + Numpad row 3 */
                &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT    &kp RET                 &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS

                /* Row 3: Shift row + Numpad row 4 */
                &kp LSHFT  &kp NUBS   &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RGUI   &kp UP       &kp KP_N1  &kp KP_N2  &kp KP_N3

                /* Row 4: Bottom row + Numpad row 5 */
                &kp LCTRL  &kp LALT   &kp SPACE                                                          &lt FN BSLH &kp LEFT  &kp RIGHT  &kp DOWN                            &kp KP_N0  &kp KP_DOT &kp KP_ENTER
            >;
        };

        fn_layer {
            bindings = <
                /* Row 0: F-keys + Numpad top */
                &kp GRAVE  &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12    &kp DEL      &trans     &trans     &trans     &trans

                /* Row 1: BT profiles + Numpad row 2 */
                &trans     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans  &trans     &kp PSCRN  &kp SLCK   &kp PAUSE_BREAK &kp UP  &kp INS                 &trans     &trans     &trans     &trans

                /* Row 2: Media/Nav + Numpad row 3 */
                &studio_unlock &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &trans  &trans     &trans     &trans     &kp HOME   &kp PG_UP  &kp LEFT   &kp RIGHT  &trans                  &trans     &trans     &trans     &trans

                /* Row 3: Shift row + Numpad row 4 */
                &trans     &trans     &trans     &trans     &trans     &trans     &bt BT_CLR &trans     &trans     &kp END    &kp PG_DN  &kp DOWN   &trans     &kp PG_UP    &trans     &trans     &trans

                /* Row 4: Bottom row + Numpad row 5 */
                &trans     &trans     &trans                                                            &trans     &kp HOME   &kp END    &kp PG_DN                            &trans     &trans     &trans
            >;
        };
    };
};
